
.overlay {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../../../images/banner_10.jfif");
    background-repeat: no-repeat;
    background-position: center center;
    /* height: 200px; */
    color: #ffffff;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 150px;
    overflow-y: hidden;
}
.overlay a{
    text-decoration: none;
    border-right: 2px solid #2dc0ba;
    margin: 10px;
}
.text-custom{
    /* color: #c2c2e6; */
    color: white;
}
.details_headline{
    color: #2dc0ba;
}



.book_package{
    /* padding-top: 150px; */
    /* padding-bottom: 150px; */
}
.book_package form{
     display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
}
.book_package form input, .description{
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
}